.dropdown {
    display: none;
}

.comment:hover .dropdown{
    display: block;
}

.reply {
    display: none;
}

.comment:hover .reply{
    display: inline-flex;
}

.reply-link {
    margin-left: 3px;
    text-decoration: none;
    color: inherit;
}

.reply-link:hover {
    text-decoration: underline;
}
