.dropdown-btn {
    display: inline-block;
}

.dropdown-menu {
    max-width: 10%;
    position: absolute;
}

.icon-dropdown {
    margin-right: 8px;
}

.date-reply {
    display: flex;
}

.reply-input {
    display: none;
}

.comment:hover .reply-input{
    margin-left: 20px;
    display: inline-flex;
}

.reply-display {
    margin-left: 3px;
    text-decoration: none;
    color: inherit;
}

.reply-display:hover {
    cursor: pointer;
    text-decoration: underline;
}

.replies {
    margin-left: 10px;
    padding-left: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.22);
}

.respond-icon {
    margin-top: 12px;
}

.show-replies {
    display: flex;
    margin-left: 10px;
}

.icon-replies {
    margin-bottom: 4px;
    margin-right: 8px;
}

.loader {
    width: 50px;
    height: 50px;
    border: 6px solid transparent;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: loaderAnimation 1s linear infinite;
}

@keyframes loaderAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
